server:
  port: 9002
  servlet:
    context-path: /

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:mysql://localhost:3306/booking_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: root
    password: Riju@03Rai@07
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc:
          batch_size: 20
    open-in-view: false


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
    healthcheck:
      enabled: true
  instance:
    prefer-ip-address: true
    instance-id: booking-service:${spring.application.instance_id:${random.value}}
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30

# OpenFeign timeouts
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 10000
# Resilience4j - circuit breaker instance for flight-service
resilience4j:
  circuitbreaker:
    instances:
      flightService:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 20           # last N calls used for failure rate
        minimumNumberOfCalls: 10       # need at least this many calls to evaluate
        failureRateThreshold: 50       # % failure to open the circuit
        waitDurationInOpenState: 30s   # how long to wait before trying half-open
        permittedNumberOfCallsInHalfOpenState: 3
        eventConsumerBufferSize: 10

# Optional but recommended for Observability
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
logging:
  level:
    root: INFO
    com.flightapp: DEBUG
    org.hibernate: WARN
    org.springframework.web: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

# Flight Service Configuration
flight-service:
  url: http://flight-service:9001
